@model GRAMIS.Models.ViewModel.RoleViewModel

@{
    ViewData["Title"] = "Addrole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Adding New User role</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Addrole" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<input type="submit" value="Submit" class="btn btn-primary" />*@
                <button type="submit" class="btn btn-primary"><span class="fa fa-paper-plane"> Submit</span></button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
