@model GRAMIS.Models.ViewModel.DocumentCollectionViewModel

@{
    ViewData["Title"] = "AddDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Document</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDocument" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" value="@ViewBag.id" class="form-control" readonly/>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentCategoryId" class="control-label"></label>
                <select asp-for="DocumentCategoryId" asp-items="Model?.DocumentList" class="form-control">
                    <option>---- select Document Category -----</option>
                </select>
                <span asp-validation-for="DocumentCategoryId" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="filecollectionData" class="control-label"></label>
                <input type="file" asp-for="filecollectionData" class="form-control" accept="Application/Pdf" />
              @*  <span asp-validation-for="FileData" class="text-danger"></span>*@
            </div>
            <br />
            <div class="form-group">
               @* <input type="submit" value="Submit" asp-route-id="@ViewBag.id" class="btn btn-primary" />*@
                <button type="submit" asp-route-id="@ViewBag.id" class="btn btn-primary"><span class="fa fa-paper-plane"> Submit</span></button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
